
@{
    ViewBag.Title = "RegisterIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="margin-top:200px; margin-left:20%; margin-right:20%;">
    <a style="width:200px;" class="btn btn-primary btn-lg col" href="/Account/Register">Rejestracja drużyny</a>
    <a style="float:right; width:200px;" class="btn btn-primary btn-lg col" href="/Account/RegisterFan">Rejestracja kibica</a>
</div>



