
@{
    ViewBag.Title = "Regulamin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="padding-left:5px;">Regulamin POL 2018</h2>
<div style="padding-left:35px; padding-right:10px;">
    <ul>
        <li>Zasada 1</li>
        <li>Zasada 2</li>
        <li>Zasada 3</li>
        <li>Zasada 4</li>
    </ul>
</div>

