
@{
    ViewBag.Title = "Regulamin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="padding-top:30px; text-align:center"><b>Regulamin League 2018</b></h2>
<div style="padding-top:20px; padding-left:40px; padding-right:40px;">
    <ul class="list-group">
        <li class="list-group-item list-group-item-heading">Zasada 1</li>
        <li class="list-group-item list-group-item-heading">Zasada 2</li>
        <li class="list-group-item list-group-item-heading">Zasada 3</li>
        <li class="list-group-item list-group-item-heading">Zasada 4</li>
    </ul>
</div>

